<%- include ../layouts/header.ejs %>

<% if(messages.error){%>
    <p style="color:red"><%- messages.error%></p>
<% } %>

<% if(messages.success){%>
    <p style="color:green"><%- messages.success%></p>
<% } %>

<form action="/tasks/edit/<% id %>" method="post" name="formal">
<table>
<tr>
    <td>
        Task name
    </td>
    <td><input type="text" name="task name" value="<%= Task_name %>"></td>
</tr>
<tr>
    <td>
        Task name
    </td>
    <td><input type="submit" name="submit" value="Add"></td>
</tr>
</table>
</form>
<%- include ../layouts/footer.ejs %>